.checkout-cart-index {
    // If cart empty
    .cart-empty {
        text-align: center;

        .cart-empty__img {
            background-color: #f0f6ff;
            padding: 25px;
            margin-bottom: 15px;

            .cart-empty__img-picture {
                margin: 0 auto;
            }
        }

        .cart-empty__info {
            .cart-empty__info-title {
                font-size: 28px;
                color: @accentblue;
                line-height: 1.25;
                font-weight: 700;
            }

            .cart-empty__info-subtitle {
                font-size: 18px;
                line-height: 1.5;
                margin-bottom: 25px;
            }

            .cart-empty__info-buttons {
                .flexed();

                .cart-empty__info-button {
                    border: 1px solid @accentblue-light;
                    padding: 10px 15px;
                    box-shadow: rgba(10, 10, 10, 0.25) 0 4px 0 -2px;
                    transition: all 0.3s ease-in-out;

                    &:first-child {
                        margin-right: 15px;
                        margin-bottom: 10px;
                    }

                    &--blue {
                        background-color: @accentblue-light;

                        &:hover {
                            background-color: rgba(0, 0, 255, 0.8);
                            border-color: rgba(0, 0, 255, 0.8);
                        }

                        a {
                            color: @white;

                            &:visited {
                                color: @white;
                            }
                        }

                    }

                    &--white {
                        background-color: @white;
                        outline: 1px solid transparent;

                        &:hover {
                            outline: 1px solid @accentblue-light;
                        }

                        a {
                            color: @accentblue-light;

                            &:visited {
                                color: @accentblue-light;
                            }
                        }
                    }

                    .cart-empty__info-link {
                        font-size: 16px;
                        line-height: 1.5;

                        &:hover {
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }

    // End if cart empty
    // Start styles for products in products list on cart page
    .form.form-cart {
        width: 70%;
    }

    .cart.table-wrapper {
        #shopping-cart-table {
            border-collapse: unset;

            .cart.item {
                border: 1px solid @accentgrey-light;
                display: block;
                padding: 24px 15px 15px;
                margin: 0 0 15px;
            }

            .item-info {
                display: flex;
                justify-content: space-between;
            }

            .col.item,
            .col.subtotal {
                padding: 0;
            }

            .product-item-details {
                padding-bottom: 20px;
            }

            .product-item-name {
                max-width: 90%;
                margin-bottom: 15px;
            }

            .product-item-name__link {
                font-weight: 700;
                word-wrap: break-word;
                font-size: 14px;
            }

            .product-reviews-summary {
                margin-bottom: 15px;
                .action.view {
                    pointer-events: none;
                    color: @title-dark;
                    &:visited {
                        color: @title-dark;
                    }
                }
            }

            .product-item-details__actions {
                display: flex;
            }

            .field.qty {
                margin-right: 10px;
            }

            .input-text.qty.select-qty {
                min-height: 45px;
                border: 2px solid @accentgrey-light;
                padding: 10px 50px 10px 15px;
                transition: border 0.3s ease-in-out;

                &:hover {
                    border: 2px solid @accentgrey;
                }

                &:focus {
                    box-shadow: none;
                }
            }

            .products-widget__item-wishlist-link {
                margin-right: 40px;
                display: block;
                padding-top: 5px;
            }

            .action.action-delete {
                padding-top: 5px;

                &::before {
                    content: '';
                }

                svg {
                    padding: 5px;
                    width: 34px;
                    border: 2px solid @white;
                    background-color: @white;
                    fill: @accentblue-light;
                    transition: all 0.5s ease-in-out;
                }

                &:hover svg {
                    border-color: @accentblue-light;
                }

                &:active svg {
                    fill: @white;
                    background-color: @accentblue-light;
                    border-color: @accentblue-light;
                }
            }

            .item-info-bottom {
                position: absolute;
                bottom: -35px;
                right: 15px;
            }

            .product-item__advr-bottom {
                display: flex;
                align-items: center;
                margin: 0;
                font-size: 14px;
                color: @accentgrey-dark;
                text-transform: capitalize;
                letter-spacing: 1px;
            }

            .product-item__advr-link {
                &:hover {
                    text-decoration: underline;
                }

                cursor: pointer;
                color: inherit;
            }
        }
    }

    // End styles for products in products list on cart page
    // Start styles for continue shopping block
    .cart.main.actions {
        text-align: inherit;
        margin-bottom: 10px;

        .action.continue {
            position: relative;
            display: inline-block;
            padding: 10px 15px 10px 30px;
            border: 1px solid @accentblue-light;
            text-decoration: none;
            color: @accentblue-light;
            box-shadow: rgba(10, 10, 10, 0.25) 0 4px 0 -2px;
            font-size: 16px;
            line-height: 1.5;
            outline: 1px solid transparent;
            transition: outline 0.3s ease-in-out;

            &::before {
                position: absolute;
                color: inherit;
                content: '\e617';
                font-family: 'luma-icons';
                left: 10px;
            }

            &:hover {
                outline: 1px solid @accentblue-light;
            }
        }
    }

    // End styles for continue shopping block
    // Styles for seller pop-up
    .seller-info {
        max-width: 700px;
        width: 100%;
        height: 75vh;
        overflow-y: scroll;
        padding: 10px 0 60px;
        font-size: 14px;

        a[class] {
            color: @accentblue-light;
            font-size: inherit;
        }

        .seller-info__top {
            padding: 0 60px;
            text-align: center;
            border-bottom: 1px solid @accentgrey-light;
            position: relative;
            height: 70px;

            .sorter-info__top-title {
                margin-right: 0;
                line-height: 70px;
                height: inherit;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                font-weight: 700;
                font-size: 20px;
            }

            .sorter-info__top-btn {
                position: absolute;
                top: calc(50% - 30px / 2);
                right: 15px;
            }
        }

        .seller-info__wrapper {
            padding: 25px;

            .seller-info__desc {
                margin-bottom: 15px;
                display: flex;

                &-raiting {
                    padding: 5px;
                    margin-right: 10px;
                    color: @white;
                    background-color: @accentblue;
                    min-width: 40px;
                    font-size: 22px;
                    font-weight: 900;
                    border-radius: 5px;
                    text-align: center;
                    align-self: center;
                }

                &-item {
                    margin-bottom: 0;
                }

                &-title {
                    line-height: 1;
                    font-size: 24px;
                    font-weight: 900;
                }
            }

            .seller-info__main {
                &-desc,
                &-expect-items {
                    margin-bottom: 25px;
                }

                &-expect-title {
                    margin-bottom: 15px;
                }

                &-expect-item {
                    padding-left: 25px;
                    position: relative;
                    margin-bottom: 5px;

                    &:before {
                        content: '\e610';
                        position: absolute;
                        left: 10px;
                        font-size: 12px;
                        line-height: 20px;
                        font-family: 'luma-icons';
                        vertical-align: middle;
                        display: inline-block;
                        color: @accentgreen;
                    }

                    strong {
                        font-style: italic;
                    }
                }

                &-title {
                    margin-bottom: 10px;
                    font-weight: 700;
                    font-size: 16px;
                }
            }

            .seller-info__bottom {
                display: flex;
                align-items: center;
                padding: 40px 25px 25px;

                &-back {
                    box-shadow: rgba(10, 10, 10, 0.25) 0px 4px 0px -2px;
                    background-color: @accentblue-light;
                    color: @white;
                    padding: 15px 25px;
                    margin-right: 25px;
                    cursor: pointer;
                    font-size: 16px;
                    transition: all 0.4s ease-in-out;

                    &:hover,
                    &:active {
                        background-color: #3d40ff;
                    }
                }
            }
        }
    }

    // End styles for seller pop-up
    // Start styles for cart-summary section
    .cart-summary {
        width: 30%;
        padding: 25px 15px;
        margin-bottom: 15px;
        background: transparent;
        border: 1px solid @accentgrey-light;

        .summary.title {
            margin: 0 0 15px;
            font-size: 19px;
            line-height: 1.25;
            font-weight: 700;
        }

        .block.shipping,
        .block.discount {
            .title {
                border: none;

                &::after {
                    color: @accentblue-light;
                }
            }

            #block-shipping-heading,
            #block-discount-heading {
                color: @accentblue-light;
                font-weight: 400;
            }
        }

        .cart-totals {
            border-color: @title-dark;
            margin-bottom: 15px;

            .grand.totals {
                background-color: #fffde5;
                padding: 15px;
                font-size: 14px;
                position: relative;

                &::before,
                &::after {
                    content: '';
                    position: absolute;
                    background: #fffde5;
                    top: 0;
                    bottom: 0;
                    width: 15px;
                }

                &::before {
                    left: -15px;
                }

                &::after {
                    right: -15px;
                }

                .mark,
                .amount {
                    border: none;
                    font-size: 14px;
                }

                .mark {
                    display: inline-block;
                }
            }
        }

        .block.discount {
            .title-logged-out {
                a {
                    color: @accentblue-light;
                }
            }

            .title,
            .field {
                margin-bottom: 15px;
            }

            .content {
                padding: 0;
            }
        }

        .fieldset.coupon .action.apply.primary,
        .action.primary.checkout {
            padding: 10px 15px;
            background: @accentblue-light;
            color: @white;
            outline: 0;
            box-shadow: rgba(10, 10, 10, 0.25) 0 4px 0 -2px;
            transition: background 0.4s ease-in-out;

            &:hover {
                background: #3d40ff;
            }

            &:active {
                background: #0000cc;
            }
        }

        .action.primary.checkout {
            border-radius: 0;
            font-size: 16px;
            font-weight: 400;
        }

        .checkout.methods {
            margin-bottom: 25px;
        }

        .payment-methods {
            text-align: center;

            .payment-methods__options {
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .payment-methods__option + .payment-methods__option {
                margin-left: 15px;
            }

            .payment-methods__option-img {
                max-width: 30px;
                width: 100%;
            }
        }
    }

    // End styles for cart-summary section
    // Styles for footer on cart page
    .footer-top__item-link {
        color: @white;

        &:visited {
            color: @white;
        }
    }

    // End styles for footer on cart page
}


